:root {
    --bs-blue: #3159e4;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #1abcb0;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #e6496a;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
body {
    background-color: #f7f8fc;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 38px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
.d-none{
    display: none;
}
.mr-0 {
    margin-right: 0 !important;
}
.mr-23 {
    margin-right: 1.43rem !important;
}
.m-10 {
    margin: 0.65rem !important;
}
.d-lh {
    line-height: 1.5 !important;
}
.px-15 {
    padding: 0px 15px;
}
.px-30 {
    padding: 0px 30px;
}
.btn {
    min-height: 42px;
    width: 130px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #3159e4;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
.btn-primary {
    background-color: #3159e4;
}
.text-green {
    color: #5cc858;
}
.text-blue {
    color: #465aff;
}
.progress-sm {
    height: 5px;
}
/* header css */
.navbar-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 5rem;
    background-color: var(--bs-blue);
    padding: 0rem 1.87rem;
}
.nav-brand {
    display: inline-flex;
}
.menu-icon{
    vertical-align: baseline;
}
.brand-logo {
    vertical-align: baseline;
    max-width: 14.68rem;
}
.navbar-items {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
}
.navbar-items > li {
    display: inline-flex;
    height: 5rem;
    align-items: center;
}
.navbar-items .v-line {
    position: relative;
}
.navbar-items .v-line::after {
    content: '';
    height: 5rem;
    width: .12rem;
    background: rgba(229, 237, 240, 0.5);
    position: absolute;
    top: 0;
    right: 0;
}
.nav-search-group {
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 0.06rem solid rgba(229, 237, 240, 0.5);
    max-width: 16.25rem;
    min-height: 2.5rem;
    padding: 0.43rem 1rem;
    -webkit-border-radius: 1.25rem;
    -moz-border-radius: 1.25rem;
    border-radius: 1.25rem;
    margin-right: 1.43rem;
}
.search-icon-group {

}
.search-icon {
    vertical-align: sub;
    margin-right: .43rem;
    cursor: pointer;
}
.nav-seatch__input {
    font-size: .87rem;
    padding: 0;
    background-color: transparent;
    border: none;
    color: #e5edf0;
}
.nav-seatch__input::placeholder {
color: #e5edf0;
opacity: 1; /* Firefox */
}
.nav-seatch__input:focus {
  outline: none;
}
.nav-seatch__input::-ms-input-placeholder { /* Edge 12-18 */
color: #e5edf0;
}
.nav-toogle-btn {
    border: none;
    background: transparent;
    padding: 0;
}
.nav-toogle-btn.v-line-right{
    width: calc(1.37rem + 1.87rem);
    height: 5rem;
    border-right: .12rem solid rgba(229, 237, 240, 0.5);
    margin-right: 1.87rem;
    padding-right: 1.87rem;
}
.badge-group {
    padding: 0;
    margin: 0rem 1.56rem;
    position: relative;
}
.badge-icon {
    width: 1.12rem;
    vertical-align: baseline;
}
.badge-circle {
    display: flex;
    align-items: center;
    min-width: 0.75rem;
    line-height: 1;
    height: 0.75rem;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0rem .12rem;
    z-index: 1;
    background-color: #fff;
    border: .12rem solid #ffffff;
    border-radius: .62rem;
    transform: scale(1) translate(50%, -50%);
}
.badge-danger {
    background-color: var(--bs-danger);
}
.badge-success {
    background-color: var(--bs-green);
}
.nav-dropdown-btn {
    background-color: #3059e4;
    border: .062rem solid #3059e4;
    color: #fff;
}
.profile-icon {
    width: 2.5rem;
    border-radius: 50%;
    margin-right: .62rem;
    margin-left: 1.43rem;
}
.dropdown-item-icon {
    display: flex;
    align-items: center;
}
.dropdown-item-icon > svg{
    margin-right: .63rem;
    width: 1.12rem;
    stroke: gray;
}
.dropdown-item-icon > span{
    font-size: .87rem;
}
/* ----------- */

/* side nav and content */
#layoutSidenav {
    display: flex;
}
.nav-fixed #layoutSidenav #layoutSidenav_aside {
    width: 18.75rem;
    height: 100vh;
    z-index: 1038;
}
#layoutSidenav #layoutSidenav_aside {
    flex-basis: 18.75rem;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-18.75rem);
}
.nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 18.75rem;
    top: 5rem;
}
.nav-fixed #layoutSidenav #layoutSidenav_aside, 
.nav-fixed .navbar-main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
#layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 1.87rem);
    margin-left: -18.75rem;
}
.nav-fixed #layoutSidenav #layoutSidenav_aside .sidenav-menu {
    padding-top: 5rem;
}
.nav-fixed #layoutSidenav #layoutSidenav_aside.sidenav .sidenav-menu {
    overflow-y: overlay;
}
.sidenav{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
    font-size: 0.9rem;
    background-color: #ffffff;
}
.sidenav-menu {
    flex-grow: 1;
}
.sidenav .sidenav-menu .nav .sidenav-menu-heading {
    padding: 1.75rem 1.86rem 0.75rem;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #3e4968;
}
.sidenav .sidenav-menu .nav .nav-link.active {
    font-weight: 600;
}

.sidenav-menu .nav-link.active {
    color: #0061f2;
}
.sidenav .sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    line-height: normal;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;
}
.sidenav-menu .nav-link {
    color: #a6a9b7;
}
.nav-link {
    display: block;
    padding: 1.5rem 1.86rem;
    font-size: 14px;
    font-weight: 400;
    color: var(--bs-nav-link-color);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.nav-link:hover {
    color: #0061f2;
}
.sidenav .sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}
.sidenav-menu .nav-link.active .nav-link-icon {
    color: #0061f2;
}

.sidenav .sidenav-menu .nav .nav-link .nav-link-icon {
    font-size: 0.9rem;
    display: inline-flex;
    justify-content: center;
    padding: 10px;
    width: 36px;
    height: 36px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.sidenav-menu .nav-link.active .nav-link-icon {
    background-color: #fb4f38;
}
.sidenav-menu .nav-link .nav-link-icon > img {
    width: 14px;
}
.sidenav-menu .nav-link.active .nav-link-icon > img {
    width: 18px;
}
.nav .nav-link .nav-link-icon, 
.sidenav-menu .nav-link .nav-link-icon {
    margin-right: 0.5rem;
}
.nav-fixed .topnav {
    z-index: 1039;
}

.sidenav-footer {
    background-color: #fff;
    flex-shrink: 0;
}
.sidenav-footer-content {
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}
.sidenav-footer-social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 18px;
}
.sidenav-footer-social-icon > .social-icon {
    aspect-ratio: auto;
}
.sidenav-footer-copyright {
    font-size: 14px;
    text-align: center;
    margin: 15px 0 0;
    color: #9db1bc;
}
/* -------------------- */

/* main content */
.overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}
.overview-col-left {
    width: 73.20%;
    flex: 0 0 auto;
    /* padding: 0px 15px; */
}
.overview-card {
    display: flex;
    flex-direction: column;
}
.overview-card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.overview-card__content {
    margin-top: 11px;
}
.overview-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 10px;
    row-gap: 20px;
    padding: 30px 20px 30px 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ffffff;
    -webkit-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    -moz-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
}
.overview-items__group {
    display: flex;
    flex-direction: column;
}
.overview-items__item {
    display: flex;
    align-items: center;    
    max-width: 345px;
    width: 100%;
    position: relative;
}
.overview-items__item:not(:last-child)::after {
    content: "";
    width: 1px;
    height: 90px;
    background: rgba(182, 182, 183, 0.25);
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0x;
}
.overview-items__item__image {
    position: relative;
    width: 79px;
    height: 79px;
    border: 2px solid #aec0ff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: rgba(49, 89, 228, 0.05);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overview-items__item__image > img {
    display: block;
    width: 40px;
    margin: 0 auto;
}
.overview-items__item__bio {
    margin-left: 11px;
}
.overview-items__item__bio > h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.overview-items__item__bio > h2{
    margin: 15px 0 0;
    font-size: 2.375rem;
    line-height: 1;
    font-weight: 600;
}
.overview-items__item__market-status {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 5px;
}
.overview-items__item__market-status > img {
    width: 12px;
}
.overview-items__item__market-status > span {
    color: #1abcb0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 2px;
}
.overview-items__item__market-status > span.market-up {
    color: #1abcb0;
}
.overview-items__item__market-status > span.market-down {
    color: #e6496a;
}
.overview-card__performance-chart {
    padding: 14px 29px 26px;
    position: relative;
    width: 100%;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    -webkit-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    -moz-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
}
.overview-card__performance-chart__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.overview-card__performance-chart__body {

}
.sort-filter {
    font-size: 0.875rem;
    font-weight: 500;
    color: #a6a9b7;
}
.sort-filter__option{
    width: 130px;
    border: 1px solid rgba(193, 207, 217, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
}
.sort-filter__option:focus{
    outline: none;
    border: 1px solid #b9afaf;
}
.overview-col-right {
    width: 23.4%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 0px 15px; */
}
.overview-card-sm:first-child {
    margin-top: 50px;
}
.overview-card-sm {
    margin: 30px 0 0;
    padding: 29px 16px 0px 31px;
    position: relative;
    max-width: 372px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    -moz-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    /* margin-left: 30px; */
}
.overview-card-sm__content {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.overview-card-sm__header {
    display: flex;
    justify-content: space-between;
}
.overview-card-sm__header__content {

}
.overview-card-sm__header__content > p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}
.overview-card-sm__header__content > h3 {
    margin: 9px 0 0;
    font-size: 1.75rem;
    font-weight: 600;
}
.overview-card-sm__chart {
    flex-grow: 1;
    display: flex;
    align-items: end;
}
.overview-col-bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    column-gap: 24px;
    row-gap: 20px;
    padding: 0px 12px;
}
.overview-md-card {
    flex: 0 0 calc(33.333% - 18px);
    padding: 28px 20px 31px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ffffff;
    -webkit-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    -moz-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
}
.overview-md-card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 26px;
}
.overview-md-card-header > h6 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
}
.overview-md-card-header > a.btn-link {
    color: #3159e4;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
}
.activities-items {
    display: flex;
    flex-direction: column;
}
.activities-item {
    display: flex;
    margin-bottom: 26px;
}
.activities-item:last-child {
    margin-bottom: 0;
}
.activities-circle-dot {
    min-width: 42px;
    height: 42px;
    margin: 5px 13px 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #3159e4;
}
.activities-item-desc {
    display: flex;
    flex-direction: column;
}
.activities-item-desc > p {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
}
.activities-item-desc > span {
    margin: 7px 0 0;
    color: #a6a9b7;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
}
.email-senders {

}
.worldmap-container {

}
.highlighted-location-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.highlighted-location-list > li {
    width: calc(50% - 15px);
    display: flex;
    justify-content: space-between;
}
.dot-icon-group {
    display: flex;
    align-items: center;
}
.dot-icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    position: relative;
}
.dot-icon > span {
    font-size: 1rem;
    font-weight: 600;
}
.dot-icon.dot-red {
    color: #fb1855;
}
.dot-icon::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.dot-icon::before{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: #fff;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
}
/* color combination */
.dot-red + span {
    color: #fb1855;
    margin-left: 5px;
}
.dot-icon.dot-red::before{
    content: '';
    border: 1px solid #fb1855;
}
.dot-icon.dot-red::after{
    content: '';
    background-color: #fb1855;
}
.dot-green + span {
    color: #6ad06c;
    margin-left: 5px;
}
.dot-icon.dot-green::before{
    content: '';
    border: 1px solid #6ad06c;
}
.dot-icon.dot-green::after{
    content: '';
    background-color: #6ad06c;
}
.dot-lightblue + span {
    color: #6582ff;
    margin-left: 5px;
}
.dot-icon.dot-lightblue::before{
    content: '';
    border: 1px solid #6582ff;
}
.dot-icon.dot-lightblue::after{
    content: '';
    background-color: #6582ff;
}
.dot-orange + span {
    color: #f7891e;
    margin-left: 5px;
}
.dot-icon.dot-orange::before{
    content: '';
    border: 1px solid #f7891e;
}
.dot-icon.dot-orange::after{
    content: '';
    background-color: #f7891e;
}
.dot-pink + span {
    color: #f818fb;
    margin-left: 5px;
}
.dot-icon.dot-pink::before{
    content: '';
    border: 1px solid #f818fb;
}
.dot-icon.dot-pink::after{
    content: '';
    background-color: #f818fb;
}
.dot-vilot + span {
    color: #3d1ef7;
    margin-left: 5px;
}
.dot-icon.dot-vilot::before{
    content: '';
    border: 1px solid #3d1ef7;
}
.dot-icon.dot-vilot::after{
    content: '';
    background-color: #3d1ef7;
}
/* ----------------- */
.highlighted-location-list > li > p {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    margin-left: 35px;
}
.properties-overview {
    max-width: 1590px;
    margin: 0px auto;
    padding: 0px 12px;
    margin-top: 30px;
}
.action-group {  
    display: flex;
    visibility: none;
    height: 0;
}
.custom-dashboard-table > tbody > tr:hover > td .action-group {
    visibility: visible;
    height: auto;
}
.custom-dashboard-table > tbody > tr:hover {
    background: #ffffff;
    -webkit-box-shadow: 0 8px 40px 0 rgba(174, 186, 199, 0.8);
    -moz-box-shadow: 0 8px 40px 0 rgba(174, 186, 199, 0.8);
    box-shadow: 0 8px 40px 0 rgba(174, 186, 199, 0.8);
    border-bottom: 15px solid #fff;
}
.action-button {
    margin: 0px 10px;
    cursor: pointer;
}
/* custom dashboard table */
.custom-dashboard-table {

}
.custom-dashboard-table > thead > tr > th {
    background-color: transparent;
    color: #a6a9b7;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 15px 25px;
}
.custom-dashboard-table > tbody > tr {
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-bottom: 15px solid #f7f8fc;
    background: #ffffff;
    -webkit-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    -moz-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
}
.custom-dashboard-table > tbody > tr > td {
    font-weight: 500;
    min-height: 70px;
    padding: 23px 29px 22px;
    border: none;
}
/* ---------------------- */
.properties-overview__card-group {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-top: 30px;
}
.properties-overview__item {
    width: calc(33.333% - 20px);
    min-height: 178px;
    padding: 23px 30px 31px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #ffffff;
    -webkit-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    -moz-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
}
.properties-overview__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.properties-overview__icon {
    width: auto;
    max-width: 40px;
}
.like-status {
    text-align: right;
}
.like-status > h4 {
    color: #192229;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: right;
}
.like-status > p {
    margin: 4px 0 0;
    color: #192229;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8125rem;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}
.properties-overview__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 50px;
}
.properties-overview__range-group {
    width: calc(50% - 25px);
}
.properties-overview__range-group > p {
    color: #192229;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.properties-overview__bg-content-item {
    width: calc(33.333% - 20px);
    padding: 39px 16px 31px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    -webkit-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    -moz-box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
    box-shadow: 0 8px 40px 0 rgba(243, 246, 249, 0.8);
}
.properties-overview__bg-content-item.bg-facebook {
    background: #3b5997;
}
.properties-overview__bg-content-item.bg-twitter {
    background: #1da1f3;
}
.properties-overview__bg-content-item.bg-network {
    background: #ea4c89;
}
.properties-overview__bg-content-item > img.properties-overview__bg-content__icon {
    display: block;
    margin: 0 auto;
}
.properties-overview__bg-content-item > p {
    margin: 21px auto 0;
    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
/* ------------ */

/* Media-query */
/* mobile first */

@media (min-width: 992px) {
    #layoutSidenav #layoutSidenav_aside {
        transform: translateX(0);
    }
    #layoutSidenav #layoutSidenav_content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }
    .d-lg-block {
        display: block !important;
    }
    .d-lg-none {
        display: none !important;
    }
}
/* @media (min-width: 1440px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1200px;
    }
}
@media (min-width: 1441px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1440px;
    }
} */
@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}
@media (min-width: 1500px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1600px;
    }
}
@media (min-width: 1920px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1620px;
    }
}
/* desktop first */
@media screen and (max-width: 1200px) {
    .brand-logo {
        max-width: 11.25rem;
    }
}
@media screen and (max-width: 1440px) {
    .overview-col-left {
        width: 100%;
    }
    .overview-col-right {
        width: 100%;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 30px;        
        column-gap: 20px;
    }
    .overview-card-sm:first-child {
        margin-top: 0;
    }
    .overview-card-sm {
        width: calc(33.333% - 20px);
        margin-top: 0;
    }
}
/* ----------- */